# python first assignment

### 1.in the below elements which of them are values or an expressino? ex:- values can be int and string and expression can be mathimatical operations.
`*`
`"hellow"`
`-87.8`
`-`
`/`
`+`

### ans:-
### 1. values:- "hellow", -87.8
### 2. expression:- *, -, /, +

### 2. what is the difference between string and variable?

### Ans:-
###STRING used to deffines the type of data. And string always given inside the dubble quate (""), or single quate ('') Ex:-

In [1]:
a="sun"

In [ ]:
a

'sun'

In [ ]:
type(a)# Here a stors string data type

str

### VARIABLES are used to store values(string,float, int , list,tuples,dic,even some time Lambda functions) in specific memory location .Ex:-

In [ ]:
a ="sun"# Here a is a variable

### 3. Describe three diffeerent data type.
### Ans:- Three different are;-
### String
### intiger(int), float
### boolian

### 4. what is an expressions made up of? what do all expressions do?
### Ans:- Expressions are the combination of different type of operators.In expression we do different type of operation and produce some other value.

### 5. This assignment statements, like spam=10? what is the difference between an expression and a statement?
### ANS:-
### If a variable has a specific constent value is called expression. spame=10 is an expression
### every line of a code is a statement. But spame=10 is also a statement becouse its a peace of code Ex:-

In [ ]:
spame=10       # its a expression also a statement
print(spame)   # but its a statement

10

### 6. After running the following code, what dose the variable bacon contain?
### bacon=22
### bacon+1

In [ ]:
# ANS
bacon=22
bacon+1

In [ ]:
print(bacon)# bacon content value 22

22

### 7. what should the values of the following two terms be?

In [ ]:
"spam"+"spamspam"

'spamspamspam'

In [ ]:
"spam"*3# ANS The following two terms has the same values

'spamspamspam'

### 8. Why is eggs a valid variable name while 100 is invalade

### ans:- becouse in python a variable name can be start with "alphabets" and "_" but should not be started with numbers. thats why "eegs" can be a variable but "100" not.
ex:-

In [2]:
egge="hellow"

In [3]:
print("eggs")

eggs

In [4]:
100="hellow world"

SyntaxError: ignored

### 9. what tree functions can be used to get a intiger, floting point no or string version of a value?

In [ ]:
# ANS Ex:-
a=66
type(a)# here / not has any specific type

int

In [ ]:
a=str("55")
type(a)

str

### 10. why dose this expresioncaues an error? how can you fix it?

In [ ]:
"i have eaten"+99+"burritos"

TypeError: ignored

### ans:-

In [ ]:
# fix it
# ANS
"i have eaten "+str(99)+" burritos."

'i have eaten 99 burritos.'